{% extends "_layout.html" %}
{% block type %}-landscape{% endblock %}
{% block header %}Change password{% endblock %}

{% block content %}
<div class="island-content">
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
  <div class="alert alert-error">
      <p>{{ message }}</p>
  </div>
{% endfor %}
{% endif %}
{% endwith %}
    <form method="post" action="{{url_for('change_password')}}">
        <label for="new_password">Old Password</label>
        <input id="old_password" name="old_password" type="password" autofocus="autofocus" class="form-control" />
        <label for="new_password">New Password</label>
        <input id="new_password" name="new_password" type="password" autofocus="autofocus" class="form-control" />
        <label for="repeat_password">Repeat New Password</label>
        <input id="repeat_password" name="repeat_password" type="password" class="form-control" />
        <input type="submit" value="Change" class="island-button" />
        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
     </form>
</div>
{% endblock %}