{% extends "_layout.html" %}
{% block header %}Forgot password?{% endblock %}

{% block content %}
<div class="island-content">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-error">
    <p>{{ message }}</p>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  {% if not email_sent %}
  <form action="{{ url_for('forgot_password') }}" method="post">
    <label for="email_address">Email Address</label>
    <input id="email_address" class="form-control" type="email" name="email_address">
    <input class="island-button" type="submit" value="Send Email">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
  </form>
  {% else %}
  <div class="alert alert-success">
    <p>Email sent to {{ email }}</p>
  </div>
  {% endif %}
</div>
{% endblock %}
