{% extends "_layout.html" %}
{% block type %}-landscape{% endblock %}
{% block header %}Send an invite{% endblock %}

{% block content %}
<div class="island-content">
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
  <div class="alert alert-error">
      <p>{{ message }}</p>
  </div>
{% endfor %}
{% endif %}
{% endwith %}
    <form method="post" action="{{url_for('invite')}}">

        <input name="email" type="email" placeholder="Enter email" autofocus="autofocus" class="form-control" />
        <input type="submit" value="Send invite" class="island-button" />
        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
     </form>
</div>
<p>Learn more about <a href="https://cloud.gov/overview/overview/who-can-use-cloudgov/">who can use cloud.gov</a> and <a href="https://cloud.gov/docs/apps/managing-teammates/">inviting teammates</a>.
</p>
{% endblock %}