{% extends "_layout.html" %}
{% block type %}-landscape{% endblock %}

{% block title %}cloud.gov Accounts | Reset MFA Token{% endblock %}
{% block header %}Reset MFA Token{% endblock %}

{% block content %}
<div class="island-content">
    <p>You can reset your MFA token here. Doing so will deactivate your currently registered MFA token, log you out, and require you to register a new token on your next login.</p>
    <form action="{{ url_for('reset_totp') }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <input class="island-button" type="submit" value="Reset MFA">
    </form>
</div>
{% endblock %}
