{% extends "_layout.html" %}
{% block type %}-landscape{% endblock %}
{% block header %}Get an invitation{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
	<div class="alert alert-error">
	    <p>{{ message }}</p>
	</div>
{% endfor %}
  <div>
     <p>Still interested in using cloud.gov?</p>
     <p>
	If you work with a person who has access to cloud.gov, ask them to <a href="https://cloud.gov/docs/apps/managing-teammates/">send you an invitation</a>.
	Otherwise, <a href="https://cloud.gov/overview/overview/who-can-use-cloudgov/">learn more about whether you can use cloud.gov</a>.
     </p>
  </div>
{% endif %}
{% endwith %}
<div class="island-content">
    <form method="post" action="{{url_for('signup')}}">

        <input name="email" type="email" placeholder="Enter email" autofocus="autofocus" class="form-control" />
        <input type="submit" value="Send my invite" class="island-button" />
        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
     </form>
</div>
<p>Learn more about <a href="https://cloud.gov/overview/overview/who-can-use-cloudgov/">who can use cloud.gov</a> and <a href="https://cloud.gov/docs/apps/managing-teammates/">inviting teammates</a>.
{% endblock %}
