<!DOCTYPE html>

<html>
    <head lang="en">
        <meta charset="UTF-8" />
    </head>
    <body>
        <p>Hello!</p>
        <p>
            You've been invited to join
            <a href="https://cloud.gov">{{branding.company_name}} [1]</a>.
        </p>
        <p>
            {{branding.company_name}} is a secure and compliant Platform as a Service (PaaS). cloud.gov helps federal agencies deliver the services the public deserves in a faster, more user-centered way.
        </p>
        <strong>Your next steps</strong>
        <p>
        <ol>
            <li>
            <strong>Accept the invitation</strong> - <a href="{{verification_url}}">Accept your invite [2]</a> to continue the registration process. (The invitation will expire after 24 hours.) You can also copy the URL below and paste it into your browser's address bar:
            <br />
            {{verification_url}}
            </li>
            <li>
              <strong>Read the documentation</strong> - After you register and log in, review the <a href="https://docs.cloud.gov/platform/getting-started/account-management/#5-follow-responsible-use-policy">responsible use policy [3]</a>.
            </li>
            <li>
            If you signed up for a trial space (a sandbox), <strong>make sure you understand the <a href=https://cloud.gov/sign-up/#sandbox-limitations">sandbox account limitations [4]</a></strong>.
            </li>
            <li>
            <strong>Then <a href="https://docs.cloud.gov/platform/getting-started/initial-setup/">set up your access and get started [5]</a></strong>.
            </li>
        </ol>
        </p>
        <p>
            If you run into problems or have any questions, please email us at <a href="mailto:support@cloud.gov">support@cloud.gov</a>.
        </p>
        <p>
            Thank you,<br />
            {{branding.company_name}} team
        </p>
        <hr>
        <ul>
            <li>[1] {{branding.company_name}}: https://cloud.gov</li>
            <li>[2] Accept your invite: {{verification_url}}</li>
            <li>[3] Responsible use policy: https://docs.cloud.gov/platform/getting-started/account-management/#5-follow-responsible-use-policy</li>
            <li>[4] Sandbox account limitations: https://cloud.gov/sign-up/#sandbox-limitations</li>
            <li>[5] Set up your access and get started: https://docs.cloud.gov/platform/getting-started/initial-setup/</li>
        </ul>
    </body>
</html>
