<!DOCTYPE html>

<html>
    <head lang="en">
        <meta charset="UTF-8" />
    </head>
    <body>
        <p>Hello!</p>
        <p>
            You've been invited to join 
            <a href="https://cloud.gov">{{branding.company_name}}</a>.
        </p>
        <p>
            {{branding.company_name}} is a service by 18F intended to help federal teams create and deliver quality digital services securely hosted in the cloud.
        </p>
        <strong>Your next steps</strong>
        <p>
        <ol>
            <li>
	    <b>Download a Multi-Factor Mobile Application</b> - cloud.gov requires multi-factor authentication, which you can download on your mobile device. There are many potential applications you can choose, such as <a href="https://support.google.com/accounts/answer/1066447?hl=en">Google Authenticator</a> or <a href="https://www.authy.com/app/mobile">Authy</a>.
            </li>
            <li>
            <b>Accept the Invitation</b> - <a href="{{invite.inviteLink}}">Click this link to accept your invite</a> to continue the registration process. You can also copy the URL below and paste into your browser's address bar.
            <br />
            {{invite.inviteLink}}
            </li>
            <li>
	    <b>Read the Documentation</b> - After you register and log in, review the <a href="https://cloud.gov/docs/getting-started/accounts/#using-your-account-responsibly">acceptable uses and rules of behavior</a>. Then <a href="https://cloud.gov/docs/getting-started/setup/">set up your access and get started</a>.
            </li>
        </ol>
        </p>
        <p>
            If you run into problems or have any questions, please email us at <a href="mailto:cloud-gov-support@gsa.gov">cloud-gov-support@gsa.gov</a>.
        </p>
        <p>
            Thank you,<br />
            {{branding.company_name}} Team
        </p>
    </body>
</html>
