<!DOCTYPE html>

<html>
    <head lang="en">
        <meta charset="UTF-8" />
    </head>
    <body>
        <p>Hello!</p>
        <p>
            You've requested to reset your password for
            <a href="https://cloud.gov">{{branding.company_name}}</a>. 
            (If you didn't request this, you can ignore this email.)
        </p>
        <strong>Your next steps</strong>
        <p>
        <ol>
            <li>
                <a href="{{reset.verifyLink}}">Verify your email address</a>, and follow those instructions to generate your temporary password. Save your generated password before closing the window.
            </li>
            <li>
                <a href="https://cloud.gov/docs/getting-started/accounts/">Log in</a> with your generated temporary password, which will prompt you to reset your password.
            </li>
        </ol>
        </p>
        <p>
            If you run into problems or have any questions,
            please email us at
            <a href="mailto:cloud-gov-support@gsa.gov">cloud-gov-support@gsa.gov</a>.
        </p>
        <p>
            Thank you,<br />
            {{branding.company_name}} team
        </p>
    </body>
</html>
