<!DOCTYPE html>

<html>
    <head lang="en">
        <meta charset="UTF-8" />
    </head>
    <body>
        <p>Hello!</p>
        <p>
            Your password for <a href="https://cloud.gov">{{branding.company_name}}</a>
            will expire in {{password.daysUntilExpiration}} days.
        </p>
        <p>
            Please <a href="{{password.changeLink}}">change your password</a> soon, before it expires.
        </p>
        <p>
            If you run into problems or have any questions,
            please email us at
            <a href="mailto:cloud-gov-support@gsa.gov">cloud-gov-support@gsa.gov</a>.
        </p>
        <p>
            Thank you,<br />
            The {{branding.company_name}} team
        </p>
    </body>
</html>
