<!DOCTYPE html>

<html>
    <head lang="en">
        <meta charset="UTF-8" />
    </head>
    <body>
        <p>Hello!</p>
        <p>
            Your password for <a href="https://cloud.gov">{{branding.company_name}}</a>
            will expire in {{password.daysUntilExpiration}} days.
        </p>
        <p>
            First, <a href="{{password.loginLink}}">log in</a> with your current password.
            After you log in, <a href="{{password.changeLink}}">go here to change your password</a>.
        </p>
        <p>If your password has expired, you can use <a href="{{ url_for('forgot_password') }}">"forgot password"</a> to reset it.</p>
        <p>
            If you run into problems or have any questions,
            please email us at
            <a href="mailto:cloud-gov-support@gsa.gov">cloud-gov-support@gsa.gov</a>.
        </p>
        <p>
            Thank you,<br />
            The {{branding.company_name}} team
        </p>
    </body>
</html>
