<!DOCTYPE html>

<html>
    <head lang="en">
        <meta charset="UTF-8" />
    </head>
    <body>
        <p>Hello!</p>
        <p>
            You've requested to reset your password for
            <a href="https://cloud.gov">{{branding.company_name}}</a>.
            Please follow the instructions in this email to verify your email
            and reset your password.
        </p>
        <p>
            {{branding.company_name}} is a service by 18F intended to help
            federal teams create and deliver quality digital services securely hosted in the cloud.
            {{branding.company_name}} is currently in
            <a href="https://18f.gsa.gov/dashboard/">alpha state</a>
            and under active development. We'll ask for your feedback and make
            improvements frequently.
        </p>
        <strong>Your next steps</strong>
        <p>
        <ol>
            <li>
                <a href="{{reset.verifyLink}}">Click here to verify your email address</a> with
                <a href="https://cloud.gov">{{branding.company_name}}</a>
            </li>
            <li>
                Follow the instructions to generate your temporary password. Make sure to save your
                generated password before closing the window.
            </li>
            <li>
                Login with your generated temporary password and reset your password.
            </li>
        </ol>
        </p>
        <p>
            If you run into problems or have any questions,
            please email us at
            <a href="mailto:cloud-gov-support@gsa.gov">cloud-gov-support@gsa.gov</a>.
        </p>
        <p>
            Thank you,<br />
            {{branding.company_name}} Team
        </p>
    </body>
</html>
